// Place all the styles related to the Cals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input_form {
  margin-left: auto;
  margin-right: auto;

  height:500px;
  border:solid;
}
