// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  list-style: none;
  border-bottom: 1px solid #eee;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
