// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.text {
  position: relative;
  padding-top: 7px;
  padding-bottom: 7px;
  list-style: none;
  border-bottom: 1px solid #eee;
}
.display-text {
  background-color: #f8f8f8;
}
li {
  display: list-item;
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  // text-align: -webkit-match-parent;
}
.nav-bar {
  background-color: #f8f8f8;
  height: 40px;
  width: 100%;
  display: block;
  padding: 6px 4px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
