<h1 id='page_header'>Editing Exercise Task</h1>

<%= render 'form' %>

<%= link_to 'Show', @exercise_task , :class => 'button_new'%> |
<%= link_to 'Back', exercise_tasks_path , :class => 'button_new'%>

</div>
</div>
